.textarea{
    width: 270px;
    height: 40px;
    border-radius: 10px;
    margin: 3px;
    margin-top:10px ;

}
html, body{
  height: 100%;
  margin: 0;
   background-image: linear-gradient(to  right, rgb(25, 4, 73), rgb(151, 47, 221));
}