.vertical-line {
  border-right: 3px solid #aa9edb; 
  width: 110px;  
  margin-bottom: 30px;
}
.stepSpan {
  border-radius: 10px;
  background-color: #c631e4;
  padding: 5px;
  font-size: x-small;
  font-weight: bold;
  font-size:12px;
  color:white;
  display: block;
  margin-bottom: 10px;
  width: 50px;
 text-align: center;

}
.regier-steps {
   font-weight: bold;
   margin-bottom: 13px;
   display: block;
}
.figmastepsContainer{
  height: 500px;
  width: 1340px;
  padding-bottom: 40px;
   background-image: linear-gradient(to bottom right, rgb(251, 248, 253), rgb(216, 190, 233));
}